.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  width: 100%;
  height: 73px;
  padding: 16px 64px;
  border-bottom: 1px solid black;
}

.logo {
  width: 63px;
}

.btnMenu {
  display: none;
}

.column {
  display: flex;
  gap: 16px;
}

.links {
  display: flex;
  gap: 32px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.link:hover {
  color: aliceblue;
  background-color: grey;
}

.menuDown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons :first-child {
  display: flex;
  width: 88px;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid black;
}

.buttons :last-child {
  display: flex;
  width: 88px;
  height: 40px;
  background-color: black;
  padding: 8px 10px;
  color: white;
}

.content {
  display: absolute;
  top: 0;
  background: #000;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 720px) {
  .container {
    height: 60px;
    padding: 0px 10px;
  }

  .btnMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .column {
    display: none;
  }
  
  .logo {
    width: 50px;
  }
  
  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0px;
    width: 100%;
    border-bottom: 1px solid #000;
  }

  .link {
    height: 30px;
    width: 100%;
  }
  
  .menuDown{
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }

  .buttons :first-child {
    width: 100%;
    height: 30px;
    padding: 0px 0px;
    border: 0px solid;
  }

  .buttons :last-child {
    background-color: transparent;
    width: 100%;
    height: 30px;
    padding: 0px 0px;
    color: black;
    border-radius: 8px;
  }


}
