* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.blog-container {
    display: flex;
    flex-direction: column;
}

.blog-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 112px;
    margin-bottom: 80px;
}

.section-container>h4 {
    font-size: 16px;
    font-weight: 600;
}

.section-container>h1 {
    display: flex;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

.section-container>p {
    font-size: 18px;
}

.card-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: auto;
    padding: 10px;
}

.card-image {
    width: 413px;
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 10px;
}

.card-context {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.card-context>h5 {
    font-size: 14px;
    font-weight: 600;
}

.card-context>h3 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.card-context>p {
    font-size: 16px;
    width: 416px;
    font-weight: 400;
}

.card-person {
    display: flex;
    width: 416px;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.person-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.person-text>h5 {
    font-size: 14px;
    font-weight: 600;
}

.person-time>p {
    font-size: 14px;
}

.card-icon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.person-time {
    display: flex;
    align-items: center;
    gap: 8px;
}

.person-point {
    display: flex;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 112px;
}

.button-container>button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    width: 104px;
    height: 48px;
}

.button-container>button {
    font-size: 16px;
    align-self: center;
}

.button-container>button:hover {
    color: aliceblue;
    background-color: black;
}

@media screen and (max-width:432px) {
    .blog-content {
        gap: 50px;
    }

    .section-container {
        margin-top: 56px;
        margin-bottom: 80px;
    }

    .section-container>h4 {
        font-size: 10px;
    }

    .section-container>h1 {
        font-size: 30px;
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .section-container>p {
        font-size: 12px;
    }

    .card-container {
        display: flex;
        width: 100%;
        gap: 8px;
    }

    .card-image {
        width: 280px;
        height: 180px;
    }

    .card-context>h3 {
        font-size: 18px;
    }

    .card-context>p {
        width: 100%;
        font-size: 10px;
    }

    .card-person {
        width: 100%;
    }
}