* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.section-container > h4 {
    font-size: 16px;
    font-weight: 600;
}

.section-container > h1{
    display: flex;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

.section-container > p{
    font-size: 18px;
}

.card-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
}

.card-image{
    width: 416px;
    height: 300px;
}

.card-context{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 8px;
}

.card-context > h5{
    font-size: 14px;
    font-weight: 600;
}

.card-context > h3 {
    font-size: 24px;
    font-weight: 700;
}

.card-context > p {
    font-size: 16px;
    width: 416px;
    font-weight: 400;
}

.card-person{
    display: flex;
    width: 416px;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.person-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.person-text > h5 {
    font-size: 14px;
    font-weight: 600;
}

.person-time > p {
    font-size: 14px;
}

.card-icon{
    width: 48px;
    height: 48px;
}

.person-time{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.person-point{
    display: flex;
    width: 5px;
    height: 5px;

    border-radius: 100%;
    background-color: black;

}


.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container > button {
    border: 1px solid black;
    background-color: transparent;
    width: 104px;
    height: 48px;
}

.button-container > button {
    font-size: 16px;
    align-self: center;
}